@tailwind base;
@tailwind components;
@tailwind utilities;

.captcha {
    margin: 0 auto;
    width: 65%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .captcha {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .captcha {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 93%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 100%;
        float: left;
    }
}

/* body {
    overflow-y: hidden; 
    overflow-x: hidden;
  } */
#exampleFormControlInput1{
  box-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: none;
}
  .rmv-shadow{
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    outline: none;
  }

  .rmv-shadow:focus{
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    outline: none;
  }

  .rmv-shadow:focus-visible{
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    outline: none;
  }

  .rmv-shadow:focus-within{
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    outline: none;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 424px) {
  .hide {
      display: none;
  }
  .smallScreenHide {
    display: block;
}
}
@media screen and (min-width: 424px) {
  .smallScreenHide {
      display: none;
  }
  .hide {
    display: block;
}
}
@media screen and (max-width: 560px) {
  .hide2 {
      display: none;
  }
}

@media screen and (max-width: 425px) {
  .imgRes {
      height: 450px;
  }
}
@media screen and (max-width: 560px) {
  .imgRes {
    height: 450px;
  }
}
@media screen and (max-width: 560px) {
  .displayBlock {
    display: block;
  }
}