@tailwind base;
@tailwind components;
@tailwind utilities;

.captcha {
    margin: 0 auto;
    width: 65%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .captcha {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .captcha {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 93%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 100%;
        float: left;
    }
}

/* body {
    overflow-y: hidden; 
    overflow-x: hidden;
  } */
#exampleFormControlInput1{
  box-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: none;
}
  .rmv-shadow{
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    outline: none;
  }

  .rmv-shadow:focus{
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    outline: none;
  }

  .rmv-shadow:focus-visible{
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    outline: none;
  }

  .rmv-shadow:focus-within{
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    outline: none;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 424px) {
  .hide {
      display: none;
  }
  .smallScreenHide {
    display: block;
}
}
@media screen and (min-width: 424px) {
  .smallScreenHide {
      display: none;
  }
  .hide {
    display: block;
}
}
@media screen and (max-width: 600px) {
  .hide2 {
      display: none;
  }
}
@media screen and (max-width: 390px) {
  .hidesort {
      display: none;
  }
}

@media screen and (max-width: 425px) {
  .imgRes {
      height: 450px;
  }
}
@media screen and (max-width: 560px) {
  .imgRes {
    height: 450px;
  }
}
@media screen and (max-width: 560px) {
  .displayBlock {
    display: block;
  }
}


.track-progress {
  margin: 0;
  padding: 10px 10px 0 10px;
  background: white;
  height: 80px;
  border-radius: 10px; }
  .track-progress li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    font: 14px/14px Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #bbb;
    border-bottom: 4px #bbb solid;
    line-height: 3em;
    width: 20%;
    float: left; }
    .track-progress li:after {
      content: "\00a0\00a0";
      /*non-breaking space */ }
    .track-progress li:before {
      position: relative;
      bottom: -2.5em;
      float: left;
      left: 50%;
      line-height: 1em; }
    @media (max-width: 800px) {
      .track-progress li {
        font-size: 0.7em; } }
    .track-progress li span {
      padding-left: 0.75em; }
      @media (max-width: 640px) {
        .track-progress li span {
          display: none; } }
  .track-progress li.done {
    color: #bbb;
    font-weight: bold;
    border-bottom: 4px blue solid; }
    .track-progress li.done:before {
      content: "";
      background: blue;
      height: 1.2em;
      width: 1.2em;
      line-height: 1.2em;
      border: none;
      border-radius: 1.2em; }
  .track-progress li.cancel {
    color: #bbb;
    font-weight: bold;
    border-bottom: 4px red solid; }
    .track-progress li.cancel:before {
      content: "";
      background: red;
      height: 1.2em;
      width: 1.2em;
      line-height: 1.2em;
      border: none;
      border-radius: 1.2em; }
  .track-progress li.todo:before {
    content: "";
    background: white;
    border: 0.25em solid #bbb;
    height: 0.8em;
    width: 0.8em;
    border-radius: 0.8em; }
  .track-progress em {
    display: none;
    font-weight: 700;
    padding-left: 0.75em; }
    @media (max-width: 640px) {
      .track-progress em {
        display: inline; } }
